[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = ">0.85"
pandas = "*"
numpy = "*"
simplejson = "*"

[dev-packages]
streamlit-aggrid = {editable = true, path = "."}

[requires]
python_version = "*"
